<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= form.label :name, class:'control-label col-md-2' %>
    <%= form.text_field :name , :class => 'form-control' %>
  </div>

  <div class="form-row">
    <%= form.label :description, class:'control-label col-md-2' %>
    <%= form.text_area :description,hide_label: true, placeholder: "Leave details description", :class => 'form-control' %>
  </div>

  <div class="form-row">
    <%= form.label :budget, class:'control-label col-md-2' %>
    <%= form.text_field :budget, :class => 'form-control' %>
  </div>

  <div class="form-row">
    <%= form.label 'Proposal Deadline', class:'control-label col-md-3 col-sm-6' %>
    <%= form.date_field :proposalDeadline, :class => 'form-control' %>
  </div>

  <div class="form-row">
    <%= form.label 'Event Date', class:'control-label col-md-2' %>
    <%= form.date_field :eventDate , :class => 'form-control'%>
  </div>

  <div class="form-row">
    <%= form.label :address, class:'control-label col-md-2' %>
    <%= form.text_field :address, :class => 'form-control'%>
  </div>

  <div class="form-row">
    <%= form.label :city , class:'control-label col-md-2'%>
    <%= form.text_field :city, :class => 'form-control' %>
  </div>

  <div class="form-row">
    <%= form.label :province, class:'control-label col-md-2' %>
    <%= form.text_field :province, :value => 'BC', :class => 'form-control' %>
  </div>
  <div style="margin-bottom: 5px;"></div>
  <div style="margin-bottom: 5px;">Category</div>
  <div class="form-row">
      <%= form.select :category, ['Beauty Services', 'Event Services', 'Farm & Garden Services', 'Food Services'] , :class => 'custom-select'%>
  </div>


  <div class="field"   >
    <%= hidden_field :user_id, current_user.id %>
  </div>

  <div class="field"   >
    <%= hidden_field :status, @status %>
  </div>

  <div style="margin-bottom: 10px;"></div>
  <p >
    <%= form.submit nil, :class => 'btn btn-secondary' %>
  </p>
<% end %>
