<p id="notice"><%= notice %></p>

<h1>Requests</h1>

<div class="request-rows">
  <% @requests.each do |request| %>
     
    <div class="request-row <%="request_#{request.status}" %>">
      <div><span>Name:</span><span><%= request.name %></span></div> 
      <div><span>Description:</span><span><%= truncate(request.description, :length => 35 ) %></span></div>
      <div><span>Budget:</span> <span><%= request.budget %></span></div>
      <div><span>Proposaldeadline:</span><span><%= request.proposalDeadline %></span></div>
      <div><span>Eventdate:</span><span><%= request.eventDate %></span></div>
      <div><span>City:</span><span><%= request.city %></span></div>
      <div><span>Category:</span><span><%= request.category %></span></div>
      <div><span>Status:</span> <span><%= request.status %></span></div>
       
      <div class="request-row-footer">
        <span><%= link_to 'Details', request , :class => 'btn btn-info' %></span>
        <% if current_user && current_user.id == request.user_id %>
          <span><%= link_to 'Edit', edit_request_path(request)  , :class => 'btn btn-info' %></span>
          <span><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-info' %></span>
        <% end %>
      </div>  
    </div>
  <% end %>
     
</div>

<br>

 


 