<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @request.budget %>
</p>

<p>
  <strong>Proposaldeadline:</strong>
  <%= @request.proposalDeadline %>
</p>

<p>
  <strong>Eventdate:</strong>
  <%= @request.eventDate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @request.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @request.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @request.province %>
</p>

<p>
  <strong>Category:</strong>
  <%= @request.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) , :class => 'btn btn-info' %>  
<%= link_to 'Back', requests_path , :class => 'btn btn-info' %>  
<%= link_to 'Response', new_proposal_path(:id => @request.id) , :class => 'btn btn-info' %>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th>Accept</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.description %></td>
        <td><%= proposal.price %></td>
        <td><%= proposal.accept %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

