<p id="notice"><%= notice %></p>

<div>
  <h5><%= @request.name %></h5>
</div>
<div class="request-container">
  <div>
    <strong>Description:</strong>
    <%= @request.description %>
  </div>
  <div>
    <strong>Budget:</strong>
    <%= number_to_currency(@request.budget) %>
  </div>
  <div>
    <strong>Reply before:</strong>
    <%= @request.proposalDeadline %>
  </div>
  <div>
    <strong>Event date:</strong>
    <%= @request.eventDate %>
  </div>
 

    <div>
      <strong>City:</strong>
      <%= @request.city %>,
      <strong>Province:</strong>
      <%= @request.province %>
    </div> 
 
</div>

<div class="request-row-footer">
  <%= link_to 'Back', requests_path , :class => 'footer-btn' %>

  <% if current_user.id == @request.user_id && @request.status != 'Taken' %>
    <%= link_to 'Edit', edit_request_path(@request) , :class => 'footer-btn' %>
  <% end %>



  <% if current_user.userrole =='service_provider' %>
    <% if @request.status=='Taken' %>
      <span class="proposal-label">Request Closed</span>
    <% elsif @request.status=='Open' %>
      <% if @proposals.count == 0 %>
        <%= link_to "Bid", new_proposal_path(:id => @request.id) , :class => 'btn btn-info' %><br />
      <% else %>
        <% @proposals.each do |proposal| %>
          <% if proposal.service_provider_id != @sp[0].id %>
            <%= link_to 'Bid', new_proposal_path(:id => @request.id) , :class => 'btn btn-info' %><br />
          <% elsif proposal.service_provider_id == @sp[0].id %>
            <%= link_to 'Edit', edit_proposal_path(:id => proposal.id) , :class => 'btn btn-info' %><br />
          <% end %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>

</div>


<% if current_user &&  current_user.id == @request.user_id %>
  <div class="response">

    <div class="response-rows">
      <% @proposals.each do |proposal| %>
        <div class="request-response-row <%= "proposal_#{proposal.accept}" %>" >
          <span class="proposal-label">Description: <%= proposal.description %></span>
          <span class="proposal-label">Price: <%=number_to_currency(proposal.price) %></span>
          <form method='POST' action="/update_accept">
            <input hidden name="proposalid" value="<%= proposal.id %>" />
            <input hidden name="requestid" value="<%= @request.id %>" />
            <% if !proposal.accept  %>
              <span class="proposal-label">Accept:</span><%= check_box_tag(:span, proposal.accept, false, :class => "accept_#{proposal.accept}") %>
              <button>Accept</button>
            <% else %>
              <span class="proposal-label">This proposal has been accepted</span>
            <% end %>

          </form>

          <div class="request-row-footer">
            <span class="footer-right"><%= link_to 'Proposal Details', proposal, :class => 'view-request-btn' %></span>
            <% if current_user &&  current_user.userrole == 'service_provider' %>
              <span class="footer-right"><%= link_to 'Edit', edit_proposal_path(proposal) %></span>
              <span class="footer-right"><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


