<p id="notice"><%= notice %></p>
<div class="company-name-div-container" >
  <div class="company-name-div">
    <h5 class="proposal-name"><span ><%= @service_provider.companyName%> Proposal</span></h5>
  </div>
   
    <div class="group-proposal-description">
      <%= @proposal.description %>
    </div>

    <div class="group-proposal-price">
      <strong>Bid Price</strong>
      <%= number_to_currency(@proposal.price) %>
    </div>
 
    <div class="contact-group-proposal">
      <p>Phone: <%= @service_provider.phone%> </p>
      <p>Email: <%= @service_provider.email%></p>
      <p>Street: <%= @service_provider.street%></p>
      <p>City: <%= @service_provider.city%></p>
    </div>
   
</div>
 
<%= link_to 'View Request', request_path(@proposal.request_id), :class => 'view-request-btn' %>

